@import
url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
.header {
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 20px 10%;
background: transparent;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}

.logo {
font-size: 30px;
color: #4D869C;
text-decoration: none;
font-weight: 700;
text-shadow:0 0 3px #CDE8E5;
}
.logo span{
  font-size:30px;
  color:#1A4870;
}
.navbar a {
font-size: 18px;
color: #9fc4c4;
text-decoration: none;
font-weight: 500;
margin-left: 35px;
transition: ease-in-out .4s;
}

.navbar a:hover,
.navbar a.active {
color: #1A4870;
text-shadow:0 0 5px #CDE8E5;
transition: ease-in-out .4s;
}
.home {
height: 100vh;
background: #EEF7FF;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 10%;
}
.home-content h1 {
font-size: 50px;
line-height: 1.2;
color: #4D869C
}

.home-content h3 {
font-size: 35px;
color: #427185;
text-shadow:0 0 5px #CDE8E5;
}
.home-content p {
font-size: 16px;
font-weight: 3000;
margin-top: 20px;
color: #CDE8E5;
}
.home-sci {
margin: 25px 0 40px;
}
.home-sci a {
display: inline-flex;
justify-content: center;
align-items: center;

width: 40px;
height: 40px;
background: transparent;
border: 2px solid #CDE8E5;
border-radius: 50%;
font-size: 20px;
color: #4D869C;
text-decoration: none;
margin-left: 12px;
transition: .5s;
}
.home-sci a:hover {
background: #4D869C;
color: #CDE8E5;
box-shadow: 0 0 10px #4D869C;
}
.btn {
padding: 12px 35px;
background: #4D869C;
border-radius: 40px;
font-size: 17px;
color: #fff;
text-decoration: none;
font-weight: 600;
letter-spacing: 1px;
box-shadow: 0 0 10px #4D869C;
transition: .5s;
border: 2px solid #CDE8E5;
}
.btn:hover {
box-shadow: none;
}